<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortify</title>
    <link rel="icon" type="image/png" href="/public/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/public/register/register.css" rel="stylesheet" type="text/css">
    <script src="/public/register/register.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
</head>

<body>
    <h1 id="page_title">Shortify</h1>
    <div id="register_form"></div>
    <input id="username" class="credentials" placeholder="Enter your username" autocomplete="off">
    <input id="email" class="credentials" placeholder="Enter your email" autocomplete="off">
    <input id="password" class="credentials" placeholder="Enter your password" autocomplete="off">
    <input id="password2" class="credentials" placeholder="Enter your password again" autocomplete="off">
    <button id="submit">Submit</button>
    <div id="result"></div>
</body>
</html>